.chatTitle {
  background-color: papayawhip;
  padding: 0.5rem;
  /* border-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; */
  border: darkorange 5px double;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.chatTitle * {
  text-align: center;
  color: chocolate;
}

.chatTitle h2 {
    font-size: x-large;
}

.chatTitle .timestamp {
  font-size: small;
}
