.chatList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chatList ul,
ol {
  padding: 0;
  list-style-type: none;
}

.chatList li {
  margin-bottom: 0.5rem;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 0.3rem;
}

.activeChat {
  background-color: darkorange;
  color: ivory;
  font-weight: 600;
}

.chatButtons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}