nav {
  border: 3px solid darkorange;
  border-radius: 5px;
  flex: 0.2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

nav h2, h3 {
  color: chocolate;
}

nav button {
    border-radius: 50px;
    padding-right: .8rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}