

.navigation h2, h3 {
  color: chocolate;
}

.navigation h3 {
    margin-top: 1rem;
}

.navigation button {
    border-radius: 50px;
    padding-right: .8rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: left;
}