.chatTitle {
  /* background-color: papayawhip; */
  padding: 0.5rem;
  /* border: darkorange 5px double; */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: fit-content;
  border-bottom: darkorange 3px double;
}

.chatTitle * {
  text-align: center;
  color: chocolate;
}

.chatTitle h2 {
  font-size: x-large;
}

.chatTitle .chatTag {
  font-size: small;
}

.titleEditForm,
.titleEditForm:focus,
.titleEditForm:active {
  max-width: 90%;
  margin: auto;
  font-size: large;
  background-color: white;
  border: orange solid 1px;
  border-radius: 5px;
  font-weight: inherit;
  line-height: inherit;
  font-style: inherit;
}
.chatHeader {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.pencil {
  display: block;
  margin-left: auto;
  color: chocolate;
  border: none;
  background-color: inherit;
  font-weight: inherit;
}

.pencil:hover {
  background-color: inherit;
  color: inherit;
}

.littlePencil {
  font-size: small;
}
