@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;

@layer base {
  html {
    @apply leading-none text-textcolor;
  }

  button:hover,
  a:hover {
    @apply text-hovercolor;
  }

  code,
  pre {
    @apply text-sm tracking-tighter;
  }

  p > code {
    @apply bg-sol-50 bg-opacity-80 px-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply title;
  }
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }



}

@layer components {

    .pass-overflow {
        @apply overflow-y-auto h-full;
    }
    
  .border-guide {
    @apply border border-purple-700;
  }
  .w-effective {
    @apply mx-auto w-full xl:max-w-screen-xl;
  }
  .flex-row-center {
    @apply flex flex-row items-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .title {
    @apply font-bold text-maincolor;
  }

  .border-main {
    @apply border-mainborderw border-dotted border-maincolor;
  }

  .border-main-forced {
    /* Keep it identical with the non-forced counterpart */
    @apply border-mainborderw border-dotted border-maincolor !important;
  }

  .input-main-forced {
    @apply border-main-forced font-normal placeholder-maincolor caret-maincolor;
    @apply rounded-lg bg-white/80 leading-tight  text-textcolor  !important;
  }

  .input-main-forced:hover {
    @apply border-hovercolor placeholder-hovercolor !important;
  }

  .input-main-forced:active {
    @apply border-solid border-hovercolor placeholder-maincolor !important;
    box-shadow: none !important;
  }

  .input-main-forced:focus {
    @apply border-solid border-hovercolor placeholder-hovercolor !important;
    box-shadow: none !important;
  }

  .ionic-parent:focus .ionic,
  .ionic-parent:active .ionic {
    @apply text-hovercolor;
  }

  *:focus {
    /* @apply outline-none ring-2 ring-hovercolor; */
    @apply text-hovercolor outline-none;
  }

  .chat-item {
    @apply w-full rounded-r-full border-y-2 border-r-2 px-1 py-0.5 text-left ring-0 first:mt-1 last:mb-1;
  }

  /* Below need further tidy-up */

  /* button:focus {
    @apply rounded-md outline-none ring-2 ring-red-500 ring-offset-1 ring-offset-red-500;
    box-shadow: none !important;                        
  } */
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  @apply w-mboxspace;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-mboxcolor;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded rounded-full bg-gradient-to-b from-mboxcolor to-red-500;
}

.scroll-cbox::-webkit-scrollbar {
  @apply w-1;
}

.scroll-cbox::-webkit-scrollbar-track {
  @apply bg-cboxcolor;
}

.scroll-cbox::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-cboxcolor to-sol;
}

.scrollmsg::-webkit-scrollbar {
  @apply w-1;
}

.scrollmsg::-webkit-scrollbar-track {
  /* @apply bg-sol-100; */
}

.scrollmsg::-webkit-scrollbar-thumb {
  @apply rounded rounded-full bg-sol-300;
}
