.navigation {
    border: 3px solid darkorange;
    border-radius: 5px;
    flex: 0.2;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.navigation h2, h3 {
  color: chocolate;
}

.navigation h3 {
    margin-top: 1rem;
}

